.login-wrapper {
    padding:100px;
    width:500px;
    margin:0 auto;
}
.login-wrapper * {
    box-sizing: border-box;
}
.login-wrapper form input {
    display: inline-block;
    width: 100%;
    padding:0 20px;
    height: 50px;
    line-height: 50px;
    border:solid 1px #e6e6e6;
    border-bottom-width: 3px;
    border-radius: 5px;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    outline:none;
}
.login-wrapper form input:not(:last-child) {
    margin-bottom: 20px;
}

.login-wrapper form input[type="email"]:focus,
.login-wrapper form input[type="email"]:active,
.login-wrapper form input[type="password"]:focus,
.login-wrapper form input[type="password"]:active
{
    border-color: #ccc;
}
.login-wrapper form input[type="submit"] {
    background-color: #F2395A;
    padding:0 20px;
    position:relative;
    z-index: 1;
    display: inline-block;
    border:solid 1px #F02146;
    border-bottom-width: 3px;
    color:white;
    outline:none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.login-block
{
    position: relative;
    display: block;
    width: 100%;
    max-width: 300px;
    margin:0 auto;
    padding:30px;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}